* {
  margin: 0;
  padding: 0;
}


.container {
  text-align: center;
  display: flex;
  margin:2px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  /* color: white; */
}

.header {
  background-color: #393f4d;
  display: flex;
  align-items: flex-end;
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}


.logo{
  margin-right: auto;
  margin-left: 25px;
}

.menu{

}

ul{
  list-style: none;
  display: flex;
}

.menu ul,
.menu li {
  font-size: 16px;
  display: inline-block;
  padding: 0 50px;
}

.container .sidebar {
  background-color: #C50208;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  flex: 1;
}

.photo{
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  flex: 1;

}

.side-content{
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  flex: 1;

}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 100px;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

.card-group{
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(4,1fr);
}